<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <appSettings>
		<add key="InputFileName" value="books" />
		<add key="ReaderNested" value="catalog book" />
		<add key="OutputFileName" value="result" />
		<add key="AuthorNameFilter" value="Peter" />
		<add key="DayOfWeekFilter" value="Saturday" />
    </appSettings>
</configuration>